* {
    outline: none;
}

h1 {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 10px;
    background: white;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

#background {
    text-align: center;
}

#board {
    text-align: center;
}

/*img:active{*/
/*    transform: rotateY(180deg);*/
/*}*/